element.style {
  top: 0px;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

body {
  position: relative;
  font-family: "NotoSansKR", sans-serif, Malgungothic, "맑은고딕", Dotum, "돋움";
  font-weight: 200;
  font-size: 15px;
  line-height: 1.6;
  color: #767572;
  letter-spacing: -0.025em;
  word-break: keep-all;
  word-wrap: break-word;
}

body {
  margin: 0;
}
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  display: block;
  margin: 8px;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}